@import '../../../../styles/variables.scss';

.preview-input {
    padding: 12px;
    background: $background-light-grey;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: $theme-primary-dark;
}

.help-section {
    font-size: 0.875rem;
}
