<section class="container app-main-screen-with-buttons h-100" *transloco="let t">
    <p-card styleClass="h-100 rounded-0">
        <div class="row">
            <div class="col">
                <h2 class="text-uppercase">{{ t('modules.authorizationRegister.txtTitle') }}</h2>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <button
                    pButton
                    type="button"
                    class="p-button-success"
                    [label]="t('modules.authorizationRegister.txtRequestAuthorization')"
                    icon="pi pi-plus"
                    iconPos="right"
                    [attr.aria-label]="t('modules.authorizationRegister.txtRequestAuthorization')"
                    [routerLink]="['/authorization-register/new-authorization']"></button>
            </div>
        </div>
        <p-divider class="header-divider" type="solid" styleClass="mt-4 mb-4"></p-divider>
        <div class="d-flex justify-content-center align-items-center p-3">
            <p>{{ t('modules.authorizationRegister.txtControlAuthorizationWhichAre') }}</p>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
            <div class="navigation-button m-4">
                <button
                    pButton
                    type="button"
                    class="p-button-raised p-button-text"
                    [attr.aria-label]="t('aria.txtNavigationToManageEmpowermentsFromMe')"
                    role="Navigation button"
                    [routerLink]="['/authorization-register/from-me']">
                    <div class="w-100">
                        <div class="text-center">
                            <i class="material-icons-outlined">&#xe853;</i>
                        </div>
                        <div class="text-center">
                            <h5>{{ t('modules.authorizationRegister.txtFromMeButton') }}</h5>
                            <p-divider class="button-divider d-flex justify-content-center"></p-divider>
                        </div>
                    </div>
                </button>
            </div>
            <div class="navigation-button m-4">
                <button
                    pButton
                    type="button"
                    class="p-button-raised p-button-text"
                    [attr.aria-label]="t('aria.txtNavigationToManageEmpowermentsToMe')"
                    role="Navigation button"
                    [routerLink]="['/authorization-register/to-me']">
                    <div class="w-100">
                        <div class="text-center">
                            <i class="material-icons-outlined">&#xe939;</i>
                        </div>
                        <div class="text-center">
                            <h5>{{ t('modules.authorizationRegister.txtToMeButton') }}</h5>
                            <p-divider class="button-divider d-flex justify-content-center"></p-divider>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center multiline-ellipsis">
            <p>{{ t('modules.authorizationRegister.txtAuthorizationRegisterInfoText') }}</p>
        </div>
    </p-card>
</section>
