<section class="container h-100" id="main" *transloco="let t">
    <p-card styleClass="h-100">
        <div class="horizontally-centered-container" *transloco="let t">
            <h2 class="mb-4 text-primary text-center">{{ t('forgottenPassword.txtTitle') }}</h2>
            <i *ngIf="requestInProgress"
            class="pi pi-spin pi-spinner p-dropdown-trigger text-primary"
            style="font-size: 2rem"></i>
            <form [formGroup]="form" (ngSubmit)="submit()" class="p-fluid">
                <div class="form-group w-max">
                    <label for="password" class="form-label">
                        {{ t('forgottenPassword.txtPasswordLabel') }} <span class="text-danger">*</span>
                    </label>
                        <p-password
                        formControlName="password"
                        [feedback]="false"
                        [toggleMask]="true"
                        [pKeyFilter]="blockSpace"
                        class="cursor-pointer"></p-password>
                    <div class="text-danger validation-text">
                        <span *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.dirty">
                            {{ t('forgottenPassword.errors.txtErrorRequiredField') }}
                        </span>
                        <span *ngIf="form.get('password')?.errors?.['pattern'] && form.get('password')?.dirty">
                            {{ t('forgottenPassword.errors.txtErrorPwLength') }}
                        </span>
                        <span
                            class="d-block"
                            *ngIf="
                                form.controls['password'].errors?.['maxlength'] &&
                                form.controls['password'].dirty
                            ">
                            {{ t('global.txtPasswordTooLong') }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="form-label">
                        {{ t('forgottenPassword.txtConfirmPasswordLabel') }} <span class="text-danger">*</span>
                    </label>
                        <p-password
                        formControlName="confirmPassword"
                        [feedback]="false"
                        [toggleMask]="true"
                        [pKeyFilter]="blockSpace"
                        class="cursor-pointer"></p-password>
                    <div class="text-danger validation-text">
                        <span
                            *ngIf="form.get('confirmPassword')?.errors?.['required'] && form.get('confirmPassword')?.dirty">
                            {{ t('forgottenPassword.errors.txtErrorRequiredField') }}
                        </span>
                        <span *ngIf="form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.dirty">
                            {{ t('forgottenPassword.errors.txtErrorPwMatch') }}
                        </span>
                        <span
                            class="d-block"
                            *ngIf="
                                form.controls['confirmPassword'].errors?.['maxlength'] &&
                                form.controls['confirmPassword'].dirty
                            ">
                            {{ t('global.txtPasswordTooLong') }}
                        </span>
                    </div>
                </div>
                <button
                    pButton
                    type="submit"
                    class="w-100"
                    [disabled]="requestInProgress"
                    [attr.aria-label]="t('forgottenPassword.txtSubmit')"
                    [label]="t('forgottenPassword.txtSubmit')"></button>
            </form>
        </div>
        <p-toast position="bottom-right"></p-toast>
    </p-card>
</section>
