<section class="h-100" *transloco="let t">
    <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
    <div>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="text-text-default">
                {{ t('modules.centers.register.generalInfo') }}
            </h4>
        </div>
        <p-card>
            <p-tabView>
                <p-tabPanel [header]="t('modules.centers.register.generalInformation')">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-text-default mb-4">
                                {{ t('modules.centers.register.applicantLegalData') }}
                            </h6>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-5">
                            <app-preview-field
                                [label]="t('modules.centers.register.administrativeBodyName')"
                                [value]="information.name" />
                        </div>
                        <div class="col-lg-5">
                            <app-preview-field
                                [label]="t('modules.centers.register.companyNameLatin')"
                                [value]="information.nameLatin" />
                        </div>
                        <div class="col-lg-5">
                            <app-preview-field
                                [label]="t('modules.centers.register.administrativeBodyBulstat')"
                                [value]="information.eikNumber" />
                        </div>
                        <div class="col-lg-5">
                            <app-preview-field
                                [label]="t('modules.centers.register.homePage')"
                                [value]="information.homePage" />
                        </div>
                        <div class="col-lg-5">
                            <app-preview-field
                                [label]="t('modules.centers.register.administrativeBodyAddress')"
                                [value]="information.address" />
                        </div>
                        <div class="col-lg-5">
                            <app-preview-field
                                [label]="t('modules.centers.register.administrativeBodyEmail')"
                                [value]="information.email" />
                        </div>
                        <div class="col-lg-5">
                            <app-preview-field
                                [label]="t('modules.centers.register.administrativeBodyPhone')"
                                [value]="information.phone" />
                        </div>
                        <div class="col-lg-5">
                            <app-preview-field
                                [label]="t('modules.centers.register.generalInformation')"
                                [value]="information.description" />
                        </div>
                    </div>
                    <p-divider class="header-divider mb-4" type="solid"></p-divider>
                    <div class="mb-4">
                        <h6 class="text-text-default">
                            {{ t('modules.centers.center-preview.txtStatus') }}
                        </h6>
                        <span class="multiline-ellipsis" *ngIf="information && information.managerStatus">{{
                                t('modules.centers.center-preview.statuses.' + information.managerStatus)
                            }}</span>
                    </div>
                    <ng-container
                        *ngIf="
                    information.managerStatus === EidManagerStatus.ACTIVE ||
                    information.managerStatus === EidManagerStatus.SUSPENDED
                ">
                        <app-center-status-action-dialog
                            [eidManager]="information"
                            (successCallback)="onClosePreview()"></app-center-status-action-dialog>
                    </ng-container>
                    <p-divider class="header-divider mb-4" type="solid"></p-divider>
                    <div class="row">
                        <div class="col d-flex justify-content-between align-items-center mb-4">
                            <h6 class="text-text-default">
                                {{ t('modules.centers.register.legalRepresentatives') }}
                            </h6>
                            <p-button
                                (onClick)="add()"
                                styleClass="p-button-success"
                                [label]="t('global.txtAdd')"
                                icon="pi pi-plus"></p-button>
                        </div>
                    </div>
                    <p-table
                        [value]="information.authorizedPersons || []"
                        [tableStyle]="{ 'min-width': '100%' }"
                        [rowHover]="true"
                        [rowSelectable]="false">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-nowrap">
                                    {{ t('modules.centers.register.administratorUidType') }}
                                </th>
                                <th class="text-nowrap">
                                    {{ t('modules.centers.center-preview.users-table.txtName') }}
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th class="text-nowrap">
                                    {{ t('modules.centers.center-preview.users-table.txtNameLatin') }}
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th class="text-nowrap">
                                    {{ t('modules.centers.center-preview.users-table.txtEmail') }}
                                </th>
                                <th class="text-nowrap">
                                    {{ t('modules.centers.center-preview.users-table.txtPhone') }}
                                </th>
                                <th class="text-nowrap"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
                            <tr>
                                <td
                                    style="max-width: 18rem"
                                    [attr.aria-label]="user.citizenIdentifierNumber"
                                    [title]="user.citizenIdentifierNumber">
                            <span
                                class="multiline-ellipsis"
                                appPersonalIdentifier
                                [identifier]="user.citizenIdentifierNumber"
                                [identifierType]="user.citizenIdentifierType"></span>
                                </td>
                                <td style="max-width: 18rem" [attr.aria-label]="user.name" [title]="user.name">
                                    <span class="multiline-ellipsis">{{ user.name }}</span>
                                </td>
                                <td style="max-width: 18rem" [attr.aria-label]="user.nameLatin" [title]="user.nameLatin">
                                    <span class="multiline-ellipsis">{{ user.nameLatin }}</span>
                                </td>
                                <td style="max-width: 18rem" [attr.aria-label]="user.email" [title]="user.email">
                                    <span class="multiline-ellipsis">{{ user.email }}</span>
                                </td>
                                <td style="max-width: 18rem" [attr.aria-label]="user.phoneNumber" [title]="user.phoneNumber">
                                    <span class="multiline-ellipsis">{{ user.phoneNumber }}</span>
                                </td>
                                <td>
                                    <p-button
                                        [title]="t('global.txtEdit')"
                                        styleClass="p-button-sm p-button-text"
                                        (click)="edit(user)">
                                        <i class="material-icons-outlined">&#xe3c9;</i>
                                    </p-button>
                                    <p-button
                                        [title]="t('global.txtDelete')"
                                        styleClass="p-button-sm p-button-text"
                                        (click)="remove(user)">
                                        <i class="material-icons-outlined">&#xe872;</i>
                                    </p-button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">
                            <span
                                class="d-flex align-items-center flex-column empty-message-container bg-background-light-grey">
                                <img src="/assets/images/noresults.png" [alt]="t('aria.txtLogo')" />
                                <span class="text-text-light" [attr.aria-label]="t('global.txtNoData')">
                                    {{ t('global.txtNoData') }}
                                </span>
                            </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel [header]="t('modules.centers.center-preview.tabs.txtHistory')">
                    <app-notes [notes]="notes"></app-notes>
                </p-tabPanel>
            </p-tabView>

        </p-card>
    </div>

    <p-dialog
        header="Header"
        [(visible)]="showDialog"
        [style]="{ width: '50vw', maxWidth: '960px' }"
        [breakpoints]="{ '1200px': '75vw' }"
        [draggable]="false"
        [resizable]="false"
        [modal]="true">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold text-uppercase">
                {{ t('modules.centers.register.addLegalRepresentativeData') }}
            </span>
        </ng-template>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" *transloco="let t; read: 'modules.users.userForm'">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                    <!-- Uid -->
                    <div class="row mb-2">
                        <div class="col">
                            <label for="citizenIdentifierType" class="form-label">
                                {{ t('uidType') }}
                            </label>
                            <p-dropdown
                                formControlName="citizenIdentifierType"
                                [options]="identifierTypes"
                                optionLabel="name"
                                optionValue="id"
                                styleClass="w-100"
                                inputId="citizenIdentifierType">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="citizenIdentifierNumber" class="form-label">{{ t('uid') }} </label>
                            <span class="text-danger">*</span>
                            <input
                                pInputText
                                appDigitOnly
                                id="citizenIdentifierNumber"
                                type="text"
                                class="w-100"
                                formControlName="citizenIdentifierNumber" />
                            <app-error-field
                                [formControlInstance]="userForm.controls.citizenIdentifierNumber"
                                translationPrefix="modules.users.userForm.errors"
                                [order]="['required', 'EgnError', 'EgnAdultError']" />
                        </div>
                    </div>
                    <!-- Name -->
                    <div class="row mb-2">
                        <div class="col">
                            <label for="name" class="form-label">
                                {{ t('name') }}
                                <span class="text-danger">*</span>
                            </label>
                            <input
                                (blur)="sanitizeNameInput()"
                                pInputText
                                id="name"
                                type="text"
                                class="w-100"
                                formControlName="name" />
                        </div>
                        <app-error-field
                            [formControlInstance]="userForm.controls.name"
                            translationPrefix="modules.users.userForm.errors" />
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="nameLatin" class="form-label">
                                {{ t('nameLatin') }}
                                <span class="text-danger">*</span>
                            </label>
                            <input
                                (blur)="sanitizeNameInput()"
                                pInputText
                                id="nameLatin"
                                type="text"
                                class="w-100"
                                formControlName="nameLatin" />
                        </div>
                        <app-error-field
                            [formControlInstance]="userForm.controls.nameLatin"
                            translationPrefix="modules.users.userForm.errors" />
                    </div>
                </div>
                <div class="col">
                    <!-- Email -->
                    <div class="row mb-2">
                        <div class="col">
                            <label for="email" class="form-label">
                                {{ t('email') }}
                                <span class="text-danger">*</span>
                            </label>
                            <input pInputText id="email" type="text" class="w-100" formControlName="email" />
                        </div>
                        <app-error-field
                            [formControlInstance]="userForm.controls.email"
                            translationPrefix="modules.users.userForm.errors" />
                    </div>
                    <!-- Phone -->
                    <div class="row mb-2">
                        <div class="col">
                            <label for="phoneNumber" class="form-label">
                                {{ t('phone') }}
                                <span class="text-danger">*</span>
                            </label>
                            <div class="d-flex">
                                <input
                                    pInputText
                                    appDigitOnly
                                    appPrefixPhoneInput
                                    id="phoneNumber"
                                    type="text"
                                    class="w-100"
                                    formControlName="phoneNumber" />
                            </div>
                        </div>
                        <app-error-field
                            [formControlInstance]="userForm.controls.phoneNumber"
                            translationPrefix="modules.centers.register.errors" />
                    </div>
                </div>
            </div>
            <p-divider type="solid"></p-divider>
            <div class="d-flex gap-3 justify-content-center" *transloco="let tGlobal">
                <button
                    pButton
                    type="button"
                    (click)="showDialog = false"
                    class="p-button p-button-danger"
                    [disabled]="editRepresentativeQuery.isLoading || addRepresentativeQuery.isLoading">
                    {{ tGlobal('global.txtClose') }}
                </button>
                <button
                    pButton
                    [label]="tGlobal('global.txtSubmit')"
                    [loading]="editRepresentativeQuery.isLoading || addRepresentativeQuery.isLoading"
                    type="submit"
                    class="p-button me-3 p-button-primary"></button>
            </div>
        </form>
    </p-dialog>
</section>
