<aside class="d-md-flex flex-column sidebar-menu h-100 flex-shrink-0" *transloco="let t">
    <nav class="nav flex-column pt-3">
        <ng-container *ngIf="!_userService.getSystemType()">
            <a class="nav-link d-flex" [routerLink]="['administrators']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xe0ee;</i>
                {{ t('sidebar.txtAdministrators') }}
            </a>
            <a class="nav-link d-flex" [routerLink]="['centers']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xe0ee;</i>
                {{ t('sidebar.txtCenters') }}
            </a>
            <a class="nav-link d-flex" [routerLink]="['providers']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xe0ee;</i>
                {{ t('sidebar.txtProviders') }}
            </a>
        </ng-container>
        <ng-container *ngIf="_userService.getSystemType() === SystemType.DEAU">
            <ng-container *appHasRole="[RoleType.ADMINISTRATOR]">
                <a class="nav-link" [routerLink]="['providers/current']" routerLinkActive="active">
                    <i class="material-icons-outlined">&#xe0ee;</i>
                    {{ t('sidebar.currentApplication') }}
                </a>
                <a class="nav-link" [routerLink]="['users/']" routerLinkActive="active">
                    <i class="material-icons-outlined">&#xf106;</i>
                    {{ t('sidebar.users') }}
                </a>
                <a class="nav-link" [routerLink]="['services']" routerLinkActive="active">
                    <i class="material-icons-outlined">&#xe0ee;</i>
                    {{ t('sidebar.providerServices') }}
                </a>
                <a
                    class="nav-link"
                    [routerLink]="['general-information']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <i class="material-icons-outlined">&#xe88e;</i>
                    {{ t('sidebar.generalInformation') }}
                </a>
            </ng-container>
            <a class="nav-link" [routerLink]="['empowerment-check']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xe939;</i>
                {{ t('sidebar.txtEmpowermentReference') }}
            </a>
            <a
                routerLinkActive="active"
                class="nav-link parent-link"
                [routerLink]="['/audit-logs']"
                #auditLogs="routerLinkActive">
                <i class="material-icons-outlined pe-3">&#xe0ee;</i>
                {{ t('sidebar.txtAuditJournals') }}
            </a>
            <a
                class="nav-link nav-subitem d-flex justify-content-between"
                [routerLink]="['/audit-logs/preview']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="auditLogs && auditLogs.isActive"
                #rla="routerLinkActive">
                {{ t('modules.logsViewer.txtPreview') }}
                <i class="material-icons-outlined" *ngIf="rla.isActive">&#xe5cc;</i>
            </a>
        </ng-container>
        <ng-container *ngIf="_userService.getSystemType() === SystemType.AEI">
            <a class="nav-link" [routerLink]="['administrators/applications']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xe0ee;</i>
                {{ t('sidebar.myRegisterApplications') }}
            </a>
            <a class="nav-link" [routerLink]="['administrators/general-information']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xe88e;</i>
                {{ t('sidebar.generalInformation') }}
            </a>
            <a class="nav-link" [routerLink]="['administrators/employees']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xf106;</i>
                {{ t('sidebar.users') }}
            </a>
            <a class="nav-link" [routerLink]="['administrators/offices']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xf030;</i>
                {{ t('sidebar.txtOffices') }}
            </a>
            <a class="nav-link" [routerLink]="['administrators/devices']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xea67;</i>
                {{ t('sidebar.txtDevices') }}
            </a>
            <a class="nav-link" [routerLink]="['administrators/documents']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xe2c8;</i>
                {{ t('sidebar.txtDocuments') }}
            </a>
            <a
                routerLinkActive="active"
                class="nav-link parent-link"
                [routerLink]="['/tariffs']"
                #tariffs="routerLinkActive">
                <i class="material-icons-outlined pe-3">&#xf05b;</i>
                {{ t('sidebar.txtTariffs') }}
            </a>
            <a
                class="nav-link nav-subitem d-flex justify-content-between"
                [routerLink]="['/tariffs/services']"
                routerLinkActive="active"
                *ngIf="tariffs && tariffs.isActive"
                #rla="routerLinkActive">
                {{ t('sidebar.txtTariffsForServices') }}
                <i class="material-icons-outlined" *ngIf="rla.isActive">&#xe5cc;</i>
            </a>
            <a
                class="nav-link nav-subitem d-flex justify-content-between"
                [routerLink]="['/tariffs/discounts']"
                routerLinkActive="active"
                *ngIf="tariffs && tariffs.isActive"
                #rla="routerLinkActive">
                {{ t('sidebar.txtDiscounts') }}
                <i class="material-icons-outlined" *ngIf="rla.isActive">&#xe5cc;</i>
            </a>
        </ng-container>
        <ng-container *ngIf="_userService.getSystemType() === SystemType.CEI">
            <a class="nav-link" [routerLink]="['centers/applications']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xe0ee;</i>
                {{ t('sidebar.myRegisterApplications') }}
            </a>
            <a class="nav-link" [routerLink]="['centers/general-information']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xe88e;</i>
                {{ t('sidebar.generalInformation') }}
            </a>
            <a class="nav-link" [routerLink]="['centers/employees']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xf106;</i>
                {{ t('sidebar.users') }}
            </a>
            <a class="nav-link" [routerLink]="['centers/offices']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xf030;</i>
                {{ t('sidebar.txtOffices') }}
            </a>
            <a class="nav-link" [routerLink]="['centers/documents']" routerLinkActive="active">
                <i class="material-icons-outlined">&#xe2c8;</i>
                {{ t('sidebar.txtDocuments') }}
            </a>
        </ng-container>
    </nav>
</aside>
