<ul class="list-unstyled d-flex m-0">
    <li>
        <button
            class="btn btn-link text-decoration-none"
            [ngClass]="{ 'opacity-75': activeLanguage() === 'bg' }"
            (click)="changeLanguage('en')">
            <span class="language-flag align-middle en"></span>
            <span class="d-inline-block align-middle ms-1">EN</span>
        </button>
    </li>
    <li>
        <button
            class="btn btn-link text-decoration-none"
            [ngClass]="{ 'opacity-75': activeLanguage() === 'en' }"
            (click)="changeLanguage('bg')">
            <span class="d-inline-block align-middle">БГ</span>
            <span class="language-flag align-middle bg ms-1"></span>
        </button>
    </li>
</ul>
