<aside role="applications-filter" *transloco="let t" class="applications-filter">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
        <div [class]="visible ? 'show' : ''" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas">
            <div class="offcanvas-header">
                <h4>{{ t('filters.txtLabel') }}</h4>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    role="button"
                    [attr.aria-label]="t('global.txtClose')"
                    (click)="closeFilter()"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row mb-4">
                    <div class="col">
                        <label for="number" class="form-label">
                            {{ t('modules.providers.applications.filter.number') }}
                        </label>
                        <input
                            pInputText
                            id="number"
                            type="text"
                            class="w-100"
                            formControlName="number"
                            [placeholder]="t('modules.providers.applications.filter.numberPlaceholder')" />
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <p>{{ t('modules.providers.applications.filter.status') }}</p>
                        <label for="status" class="form-label"
                            >{{ t('modules.providers.applications.filter.chooseStatus') }}
                        </label>
                        <p-dropdown
                            formControlName="status"
                            [options]="statuses"
                            optionLabel="name"
                            optionValue="code"
                            styleClass="w-100"
                            inputId="status"
                            [placeholder]="t('modules.providers.applications.filter.all')"
                            [showClear]="true">
                        </p-dropdown>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <label for="provider" class="form-label">
                            {{ t('modules.providers.applications.filter.providerName') }}
                        </label>
                        <input
                            pInputText
                            id="provider"
                            type="text"
                            class="w-100"
                            formControlName="providerName"
                            [placeholder]="t('modules.providers.applications.filter.providerPlaceholder')" />
                    </div>
                </div>
            </div>
            <div class="offcanvas-footer">
                <button
                    type="button"
                    pButton
                    (click)="clearFilterValues()"
                    [label]="t('modules.providers.applications.filter.cancel')"
                    class="p-button p-button-danger me-3 app-button-small"></button>
                <button
                    pButton
                    [label]="t('modules.providers.applications.filter.apply')"
                    type="submit"
                    [disabled]="!filterForm.dirty"
                    class="p-button me-3 p-button-primary app-button-small"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvas"></button>
            </div>
        </div>
    </form>
</aside>

<section role="filter-choice" *transloco="let t" class="applications-filter-choice">
    <div class="row mb-4">
        <div class="col">
            <button
                pButton
                type="button"
                class="p-button-sm"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvas"
                (click)="openFilter()"
                [label]="t('filters.txtFilterButton')">
                <i class="material-icons-outlined">&#xe429;</i>
            </button>
        </div>
    </div>
    <div class="row mb-4" *ngIf="appliedFilters.length > 0">
        <div class="col">
            <span *ngFor="let filteredValue of appliedFilters">
                <p-chip
                    [label]="t('modules.providers.applications.filter.' + filteredValue)"
                    [removable]="true"
                    removeIcon="pi pi-times"
                    (onRemove)="clearFilteredValue(filteredValue)"></p-chip>
            </span>
            <button
                *ngIf="appliedFilters.length > 0"
                type="button"
                role="button"
                class="btn btn-link"
                (click)="clearFilterValues()"
                [attr.aria-labelledby]="t('filters.txtClearAll')">
                {{ t('filters.txtClearAll') }}
            </button>
        </div>
    </div>
</section>
