@import '../../../styles/variables.scss';

.breadcrumb {
    a {
        color: $text-active;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1rem;

        &:not([href]):not([class]),
        &:not([href]):not([class]):hover {
            color: $text-default;
        }
    }

    .breadcrumb-icon i {
        color: $text-active;
    }

    span {
        color: $theme-primary-dark;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
}
