:host {
    flex: 1;
}
.status-history-container {
    .separator {
        height: 2px;
        background-color: #dcdcdc;
        margin: 4px 0;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .status-history-container {
        margin-top: 16px;
    }
}
