{{#vendorExtensions.x-query-extra-annotation}}{{{vendorExtensions.x-query-extra-annotation}}}{{/vendorExtensions.x-query-extra-annotation}} {{#required}}@NotNull {{/required}}{{^useOptional}}{{>beanValidationCore}}{{/useOptional}}{{#useOptional}}{{#required}}{{>beanValidationCore}}{{/required}}{{/useOptional}}