{{! PathParam is always required, no @NotNull necessary }}{{#vendorExtensions.x-query-extra-annotation}}{{{vendorExtensions.x-query-extra-annotation}}}{{/vendorExtensions.x-query-extra-annotation}} {{>beanValidationCore}}