ul {
    > li {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 15%;
            right: 0;
            width: 1px;
            height: 70%;
            background: #333333;
        }

        &:last-child::after {
            display: none;
        }

        > button {
            color: #333333;
        }

        .language-flag {
            margin: 1px 0;
            line-height: 1.5;
            display: inline-block;
            border-radius: 50%;
            width: 1rem;
            min-height: 1rem;

            &.bg {
                background: url('/assets/images/bg.svg') no-repeat center;
                background-size: cover;
            }

            &.en {
                background: url('/assets/images/gb.svg') no-repeat 45%;
                background-size: cover;
            }
        }
    }
}
