<div class="col" *transloco="let t; read: 'modules.providers.provider-preview.files-table'">
    <p-table
        #usersTable
        dataKey="id"
        [value]="files"
        [tableStyle]="{ 'min-width': '100%' }"
        [rowHover]="true"
        loadingIcon="pi pi-spin pi-spinner"
        [sortOrder]="1"
        [rowSelectable]="false">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="uploaderName" class="text-nowrap">
                    {{ t('txtUploaderName') }}
                    <p-sortIcon field="uploaderName"></p-sortIcon>
                </th>
                <th pSortableColumn="uploaderUid" class="text-nowrap">
                    {{ t('txtUploaderUid') }}
                    <p-sortIcon field="uploaderUid"></p-sortIcon>
                </th>
                <th pSortableColumn="fileName" class="text-nowrap">
                    {{ t('txtFileName') }}
                    <p-sortIcon field="fileName"></p-sortIcon>
                </th>
                <th pSortableColumn="uploadedOn" class="text-nowrap">
                    {{ t('txtUploadedOn') }}
                    <p-sortIcon field="uploadedOn"></p-sortIcon>
                </th>
                <th class="text-nowrap"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td>
                    <p-skeleton></p-skeleton>
                </td>
                <td>
                    <p-skeleton></p-skeleton>
                </td>
                <td>
                    <p-skeleton></p-skeleton>
                </td>
                <td>
                    <p-skeleton></p-skeleton>
                </td>
                <td>
                    <p-skeleton></p-skeleton>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-file>
            <tr [ngClass]="{}">
                <td style="max-width: 18rem" [attr.aria-label]="file.uploaderName" [title]="file.uploaderName">
                    <span class="multiline-ellipsis">{{ file.uploaderName }}</span>
                </td>
                <td style="max-width: 18rem" [attr.aria-label]="file.uploaderUid" [title]="file.uploaderUid">
                    <span class="multiline-ellipsis">{{ file.uploaderUid }}</span>
                </td>
                <td style="max-width: 18rem" [attr.aria-label]="file.fileName" [title]="file.fileName">
                    <span class="multiline-ellipsis">{{ file.fileName }}</span>
                </td>
                <td style="max-width: 18rem" [attr.aria-label]="file.uploadedOn" [title]="file.uploadedOn">
                    <span class="multiline-ellipsis">{{
                        file.uploadedOn | translocoDate : { timeStyle: 'medium' }
                    }}</span>
                </td>
                <td style="width: 10rem">
                    <div class="d-flex" *transloco="let globalT">
                        <button
                            (click)="downloadFile.execute(file.id, file.fileName)"
                            pButton
                            type="button"
                            [title]="globalT('modules.providers.applications.table.details.txtPreviewApplication')"
                            [attr.aria-label]="
                                globalT('modules.providers.applications.table.details.txtPreviewApplication')
                            "
                            class="p-button-sm p-button-text">
                            <i class="material-icons-outlined">&#xe2c4;</i>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">
                    <span
                        *transloco="let globalT; read: ''"
                        class="d-flex align-items-center flex-column empty-message-container bg-background-light-grey">
                        <img src="/assets/images/noresults.png" [alt]="globalT('aria.txtLogo')" />
                        <span class="text-text-light" [attr.aria-label]="globalT('global.txtNoRecordsFound')">
                            {{ globalT('global.txtNoRecordsFound') }}
                        </span>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
