<section class="container h-100" *transloco="let t">
    <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
    <p-card styleClass="h-100">
        <div [hidden]="showPreview">
            <div class="row">
                <div class="col">
                    <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
                    <h2 class="text-text-active text-uppercase mb-0">
                        {{ t('modules.authorizationRegister.txtFromMe') }}
                    </h2>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <button
                        pButton
                        type="button"
                        class="p-button-warning"
                        [label]="t('modules.authorizationRegister.txtLegalEntityCheck')"
                        [attr.aria-label]="t('modules.authorizationRegister.txtLegalEntityCheck')"
                        [routerLink]="['/authorization-register/legal-entity']"></button>
                    <button
                        pButton
                        type="button"
                        class="p-button-success ms-3"
                        [label]="t('modules.authorizationRegister.txtRequestAuthorization')"
                        icon="pi pi-plus"
                        iconPos="right"
                        [attr.aria-label]="t('modules.authorizationRegister.txtRequestAuthorization')"
                        [routerLink]="['/authorization-register/new-authorization']"></button>
                </div>
            </div>
            <p-divider class="header-divider" styleClass="mt-4 mb-4" type="solid"></p-divider>
            <div class="row">
                <div class="col">
                    <app-empowerments-filter
                        (filteredData)="onFilteredDataChange($event)"
                        [isFromMePage]="true"></app-empowerments-filter>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p-table
                        #dt
                        [value]="empowerments"
                        [tableStyle]="{ 'min-width': '100%' }"
                        [rowHover]="true"
                        dataKey="uid"
                        [lazy]="true"
                        (onLazyLoad)="loadEmpowerments($event)"
                        [totalRecords]="totalRecords"
                        [rows]="pageSize"
                        [paginator]="true"
                        [showCurrentPageReport]="true"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [currentPageReportTemplate]="
                            t('global.txtTablePagination', {
                                first: '{first}',
                                last: '{last}',
                                totalRecords: '{totalRecords}'
                            })
                        "
                        [loading]="loading"
                        loadingIcon="pi pi-spin pi-spinner"
                        [globalFilterFields]="['uid', 'authorizer', 'providername', 'servicename', 'status']"
                        sortField="status"
                        [sortOrder]="1"
                        [rowSelectable]="false">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-nowrap">
                                    {{ t('modules.authorizationRegister.tableFilter.txtNumber') }}
                                </th>
                                <th pSortableColumn="createdOn" class="text-nowrap">
                                    {{ t('modules.authorizationRegister.tableFilter.txtCreatedOn') }}
                                    <p-sortIcon field="createdOn"></p-sortIcon>
                                </th>
                                <th pSortableColumn="name" class="text-nowrap">
                                    {{ t('modules.authorizationRegister.tableFilter.txtFromTheNameOf') }}
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="providername" class="text-nowrap">
                                    {{ t('modules.authorizationRegister.tableFilter.filterLabels.providerName') }}
                                    <p-sortIcon field="providername"></p-sortIcon>
                                </th>
                                <th pSortableColumn="servicename" class="text-nowrap">
                                    {{ t('modules.authorizationRegister.tableFilter.filterLabels.serviceName') }}
                                    <p-sortIcon field="servicename"></p-sortIcon>
                                </th>
                                <th style="width: 10rem">
                                    {{ t('modules.authorizationStatement.statementForm.txtProxyPersonalNumber') }}
                                </th>
                                <th pSortableColumn="status" class="text-nowrap">
                                    {{ t('modules.authorizationRegister.tableFilter.filterLabels.status') }}
                                    <p-sortIcon field="status"></p-sortIcon>
                                </th>
                                <th class="text-nowrap">
                                    {{ t('modules.authorizationRegister.tableFilter.txtAction') }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td>
                                    <p-skeleton></p-skeleton>
                                </td>
                                <td>
                                    <p-skeleton></p-skeleton>
                                </td>
                                <td>
                                    <p-skeleton></p-skeleton>
                                </td>
                                <td>
                                    <p-skeleton></p-skeleton>
                                </td>
                                <td>
                                    <p-skeleton></p-skeleton>
                                </td>
                                <td>
                                    <p-skeleton></p-skeleton>
                                </td>
                                <td>
                                    <p-skeleton></p-skeleton>
                                </td>
                                <td>
                                    <p-skeleton></p-skeleton>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-empower>
                            <tr
                                [ngClass]="{
                                    'light-grey-bg': rowIsNotActive(empower)
                                }">
                                <td style="max-width: 18rem" [attr.aria-label]="empower.number">
                                    <span class="multiline-ellipsis">{{ empower.number }}</span>
                                </td>
                                <td
                                    style="max-width: 18rem"
                                    [attr.aria-label]="empower.createdOn | translocoDate : { timeStyle: 'medium' }"
                                    [title]="empower.createdOn | translocoDate : { timeStyle: 'medium' }">
                                    <span class="multiline-ellipsis">{{
                                        empower.createdOn | translocoDate : { timeStyle: 'medium' }
                                    }}</span>
                                </td>
                                <td style="max-width: 18rem" [attr.aria-label]="empower.name" [title]="empower.name">
                                    <span class="multiline-ellipsis">{{ empower.name }}</span>
                                </td>
                                <td
                                    style="max-width: 18rem"
                                    [attr.aria-label]="empower.providerName"
                                    [title]="empower.providerName">
                                    <span class="multiline-ellipsis">{{ empower.providerName }}</span>
                                </td>
                                <td
                                    style="max-width: 18rem"
                                    [attr.aria-label]="empower.serviceName"
                                    [title]="empower.serviceName">
                                    <span class="multiline-ellipsis">{{ empower.serviceName }}</span>
                                </td>
                                <td style="width: 10rem">
                                    <span
                                        *ngIf="empower.empoweredUids.length !== 0"
                                        class="text-break d-flex"
                                        [title]="empower.empoweredUids[0].uid">
                                        {{ empower.empoweredUids[0].uid }}
                                    </span>

                                    <span
                                        *ngIf="empower.empoweredUids.length > 1"
                                        class="text-break d-flex link-style"
                                        [escape]="false"
                                        [pTooltip]="getHtmlTooltipForExtraUids(empower.empoweredUids)"
                                        [title]="getTooltipForExtraUids(empower.empoweredUids)"
                                        tooltipPosition="top">
                                        {{ t('modules.authorizationRegister.tableFilter.txtMoreThenOneEGN', {
                                        value: empower.empoweredUids.length - 1,
                                    })}}
                                    </span>
                                </td>
                                <td [attr.aria-label]="empower.status" style="width: 12rem" class="roboto-condensed">
                                    <container-element [ngSwitch]="empower.status">
                                        <span *ngSwitchCase="'Active'" class="d-flex align-items-center">
                                            <span
                                                *ngIf="ifDateIsExpired(empower.expiryDate); else elseBlock"
                                                class="text-break"
                                                [attr.aria-label]="
                                                    t('modules.authorizationRegister.tableFilter.statuses.Expired')
                                                ">
                                                <i class="material-icons-outlined me-3">&#xe644;</i>
                                                {{ t('modules.authorizationRegister.tableFilter.statuses.Expired') }}
                                            </span>
                                            <ng-template #elseBlock class="d-flex align-items-center">
                                                <span
                                                    *ngIf="ifUpcoming(empower); else innerElseBlock"
                                                    class="text-break"
                                                    [attr.aria-label]="t('empowermentCheckModule.statuses.UpComing')">
                                                    <i class="material-icons-outlined me-3">&#xf238;</i>
                                                    <span style="width: 7rem">
                                                        {{ t('empowermentCheckModule.statuses.UpComing') }}
                                                    </span>
                                                </span>
                                                <ng-template #innerElseBlock class="d-flex align-items-center">
                                                    <span class="active-confirm d-flex me-3">
                                                        <i class="material-icons-outlined align-self-center"
                                                            >&#xe877;</i
                                                        >
                                                    </span>
                                                    <span class="d-flex flex-column">
                                                        <span
                                                            class="d-flex active-confirm"
                                                            [attr.aria-label]="
                                                                t(
                                                                    'modules.authorizationRegister.tableFilter.statuses.' +
                                                                        empower.status
                                                                )
                                                            ">
                                                            {{
                                                                t(
                                                                    'modules.authorizationRegister.tableFilter.statuses.' +
                                                                        empower.status
                                                                )
                                                            }}
                                                        </span>
                                                        <span
                                                            class="d-flex"
                                                            [attr.aria-label]="empower.expiryDate | translocoDate">
                                                            {{ empower.expiryDate | translocoDate }}
                                                        </span>
                                                    </span>
                                                </ng-template>
                                            </ng-template>
                                        </span>
                                        <span
                                            *ngSwitchCase="'DisagreementDeclared'"
                                            class="text-break reject d-flex align-items-center">
                                            <i class="material-icons-outlined me-3">&#xe14b;</i>
                                            <span
                                                [attr.aria-label]="
                                                    t(
                                                        'modules.authorizationRegister.tableFilter.statuses.' +
                                                            empower.status
                                                    )
                                                ">
                                                {{
                                                    t(
                                                        'modules.authorizationRegister.tableFilter.statuses.' +
                                                            empower.status
                                                    )
                                                }}
                                            </span>
                                        </span>
                                        <span
                                            *ngSwitchCase="'Withdrawn'"
                                            class="text-break reject d-flex align-items-center">
                                            <i class="material-icons-outlined me-3">&#xe5c9;</i>
                                            <span
                                                [attr.aria-label]="
                                                    t(
                                                        'modules.authorizationRegister.tableFilter.statuses.' +
                                                            empower.status
                                                    )
                                                ">
                                                {{
                                                    t(
                                                        'modules.authorizationRegister.tableFilter.statuses.' +
                                                            empower.status
                                                    )
                                                }}
                                            </span>
                                        </span>
                                        <span
                                            *ngSwitchCase="'CollectingAuthorizerSignatures'"
                                            class="text-break reject">
                                            <ng-container
                                                *ngIf="
                                                    notSigned(empower.empowermentSignatures);
                                                    else showSignButtonToAuthorizer
                                                ">
                                                <button
                                                    pButton
                                                    type="button"
                                                    class="p-button-outlined p-button-sm"
                                                    (click)="showDetails(empower)"
                                                    [attr.aria-label]="
                                                        t(
                                                            'modules.authorizationRegister.tableFilter.statuses.' +
                                                                empower.status
                                                        )
                                                    ">
                                                    <i class="material-icons-outlined me-xl-3">&#xf603;</i>
                                                    <span
                                                        class="d-none d-xl-inline-block"
                                                        [attr.aria-label]="
                                                            t(
                                                                'modules.authorizationRegister.tableFilter.statuses.' +
                                                                    empower.status
                                                            )
                                                        "
                                                        >{{
                                                            t(
                                                                'modules.authorizationRegister.tableFilter.statuses.' +
                                                                    empower.status
                                                            )
                                                        }}</span
                                                    >
                                                </button>
                                            </ng-container>
                                            <ng-template #showSignButtonToAuthorizer>
                                                <span class="d-flex align-items-center danger">
                                                    <i class="d-flex material-icons-outlined me-3 danger">&#xe8b5;</i>
                                                    <span class="d-flex flex-column">
                                                        {{
                                                            t(
                                                                'modules.authorizationRegister.tableFilter.statuses.AwaitingSignature'
                                                            )
                                                        }}
                                                    </span>
                                                </span>
                                            </ng-template>
                                        </span>
                                        <span
                                            *ngSwitchCase="'Created'"
                                            class="text-break danger d-flex align-items-center">
                                            <i class="material-icons-outlined me-3">&#xe8b5;</i>
                                            <span
                                                [attr.aria-label]="
                                                    t(
                                                        'modules.authorizationRegister.tableFilter.statuses.' +
                                                            empower.status
                                                    )
                                                ">
                                                {{
                                                    t(
                                                        'modules.authorizationRegister.tableFilter.statuses.' +
                                                            empower.status
                                                    )
                                                }}
                                            </span>
                                        </span>
                                        <span
                                            *ngSwitchCase="'Denied'"
                                            class="text-break reject d-flex align-items-center">
                                            <i class="material-icons-outlined me-3">&#xe5cd;</i>
                                            <span
                                                [attr.aria-label]="
                                                    t(
                                                        'modules.authorizationRegister.tableFilter.statuses.' +
                                                            empower.status
                                                    )
                                                ">
                                                {{
                                                    t(
                                                        'modules.authorizationRegister.tableFilter.statuses.' +
                                                            empower.status
                                                    )
                                                }}
                                            </span>
                                        </span>
                                        <span
                                            *ngSwitchCase="'Unconfirmed'"
                                            class="text-break danger d-flex align-items-center">
                                            <i class="material-icons-outlined me-3">&#xe001;</i>
                                            <span
                                                [attr.aria-label]="
                                                    t(
                                                        'modules.authorizationRegister.tableFilter.statuses.' +
                                                            empower.status
                                                    )
                                                ">
                                                {{
                                                    t(
                                                        'modules.authorizationRegister.tableFilter.statuses.' +
                                                            empower.status
                                                    )
                                                }}
                                            </span>
                                        </span>
                                        <span *ngSwitchDefault></span>
                                    </container-element>
                                </td>
                                <td style="width: 8rem">
                                    <div class="d-flex">
                                        <button
                                            pButton
                                            type="button"
                                            [title]="
                                                t(
                                                    'modules.authorizationRegister.tableFilter.details.txtPreviewEmpowerment'
                                                )
                                            "
                                            [attr.aria-label]="
                                                t(
                                                    'modules.authorizationRegister.tableFilter.details.txtPreviewEmpowerment'
                                                )
                                            "
                                            class="p-button-sm p-button-text"
                                            (click)="showDetails(empower)">
                                            <i class="material-icons-outlined">&#xf801;</i>
                                        </button>

                                        <button
                                            pButton
                                            type="button"
                                            [title]="t('modules.authorizationRegister.txtCopyAuthorizationTitle')"
                                            [attr.aria-label]="
                                                t('modules.authorizationRegister.txtCopyAuthorizationTitle')
                                            "
                                            class="p-button-sm p-button-text"
                                            (click)="copyEmpowerment(empower)">
                                            <i class="material-icons-outlined">&#xe173;</i>
                                        </button>

                                        <button
                                            pButton
                                            type="button"
                                            *ngIf="showDenialButton(empower)"
                                            [title]="t('modules.authorizationRegister.txAuthorizationDeny')"
                                            [attr.aria-label]="t('modules.authorizationRegister.txAuthorizationDeny')"
                                            class="p-button-sm p-button-text p-button-danger"
                                            (click)="denyEmpowerment(empower)">
                                            <i class="material-icons-outlined">&#xe99a;</i>
                                        </button>

                                        <button
                                            pButton
                                            type="button"
                                            *ngIf="showWithdrawalButton(empower)"
                                            [title]="t('modules.authorizationRegister.txAuthorizationWithdrawal')"
                                            [attr.aria-label]="
                                                t('modules.authorizationRegister.txAuthorizationWithdrawal')
                                            "
                                            class="p-button-sm p-button-text p-button-danger"
                                            (click)="withdrawalEmpowerment(empower)">
                                            <i class="material-icons-outlined">&#xe99a;</i>
                                        </button>

                                        <button
                                            *ngIf="isDownloadButtonVisible(empower)"
                                            pButton
                                            type="button"
                                            [title]="t('modules.authorizationRegister.txtDownloadEmpowerment')"
                                            class="p-button-sm p-button-text"
                                            (click)="downloadEmpowerment(empower)">
                                            <i class="material-icons-outlined">&#xe2c4;</i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">
                                    <span
                                        class="d-flex align-items-center flex-column empty-message-container bg-background-light-grey">
                                        <img src="/assets/images/noresults.png" [alt]="t('aria.txtLogo')" />
                                        <span class="text-text-light" [attr.aria-label]="t('global.txtNoRecordsFound')">
                                            {{ t('global.txtNoRecordsFound') }}
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <div *ngIf="showPreview">
            <app-empowerment-preview
                (hide)="onHideDetails($event)"
                [empowerment]="selectedEmpowerment"
                [isFromMePage]="true"
                [showWithdrawalMode]="showWithdrawalMode"></app-empowerment-preview>
        </div>
    </p-card>
</section>
