<nav class="navbar navbar-expand-lg" *transloco="let t">
    <div class="container-fluid flex-nowrap">
        <a class="navbar-brand ms-2">
            <img src="/assets/images/logo.png" alt="pod-logo" [attr.aria-roledescription]="t('ariaLabels.txtLogo')" />
        </a>
        <div class="nav-item d-flex flex-column">
            <hgroup role="group" [attr.aria-roledescription]="t('ariaLabels.txtHeadingGroup')">
                <h4
                    [attr.aria-roledescription]="t('ariaLabels.txtTitle')"
                    [attr.aria-label]="t('navbar.title')"
                    class="text-uppercase roboto-condensed">
                    {{ t('navbar.title') }}
                </h4>
                <p
                    [attr.aria-roledescription]="t('ariaLabels.txtSubTitle')"
                    [attr.aria-label]="t('navbar.subtitle')"
                    class="subtitle text-uppercase m-0">
                    {{ t('navbar.subtitle') }}
                </p>
            </hgroup>
        </div>
        <div class="navbar-nav ms-auto d-flex flex-column">
            <app-language-selector class="ms-auto"></app-language-selector>
            <ul class="mb-2 mb-lg-0">
                <li class="nav-item d-flex">
                    <a class="nav-link" (click)="logout()">{{ t('global.logout') }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
