<section class="app-main-screen-with-buttons container h-100" id="main" *transloco="let t">
    <p-card styleClass="h-100">
        <div class="row">
            <div class="col">
                <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
                <h2 class="text-primary">{{ t('updatePassword.txtUpdatePassword') }}</h2>
            </div>
        </div>
        <i
            *ngIf="requestInProgress"
            class="pi pi-spin pi-spinner p-dropdown-trigger text-primary"
            style="font-size: 2rem"></i>
        <p-divider class="header-divider" type="solid"></p-divider>
        <div class="horizontally-centered-container" *ngIf="form">
            <form [formGroup]="form" (ngSubmit)="submit()" class="p-fluid">
                <div>
                    <label for="oldPassword" class="form-label">
                        {{ t('updatePassword.txtOldPassword') }} <span class="text-danger">*</span>
                    </label>
                    <p-password
                        formControlName="oldPassword"
                        [feedback]="false"
                        [toggleMask]="true"
                        [pKeyFilter]="blockSpace"
                        class="cursor-pointer"></p-password>
                    <div class="text-danger validation-text">
                        <span
                            class="d-block"
                            *ngIf="form.controls['oldPassword'].errors?.['required'] && !form.controls['oldPassword'].errors?.['pattern'] &&
                                            form.controls['oldPassword'].dirty
                                        "
                            >{{
                                t('validations.txtPleaseEnterField', {
                                    field: t('updatePassword.labels.oldPassword')
                                })
                            }}</span
                        >
                        <span
                            class="d-block"
                            *ngIf="form.controls['oldPassword'].errors?.['pattern'] &&
                                            form.controls['oldPassword'].dirty
                                        "
                            >{{ t('global.txtInvalidDataError') }}</span
                        >
                        <span
                            class="d-block"
                            *ngIf="
                                form.controls['oldPassword'].errors?.['maxlength'] &&
                                form.controls['oldPassword'].dirty
                            ">
                            {{ t('global.txtPasswordTooLong') }}
                        </span>
                    </div>
                </div>
                <div>
                    <label for="newPassword" class="form-label">
                        {{ t('updatePassword.txtNewPassword') }} <span class="text-danger">*</span>
                    </label>
                    <p-password
                        formControlName="newPassword"
                        [feedback]="false"
                        [toggleMask]="true"
                        [pKeyFilter]="blockSpace"
                        class="cursor-pointer"></p-password>
                    <div class="text-danger validation-text">
                        <span
                            class="d-block"
                            *ngIf="form.controls['newPassword'].errors?.['required'] && !form.controls['newPassword'].errors?.['pattern'] &&
                                                form.controls['newPassword'].dirty
                                            "
                            >{{
                                t('validations.txtPleaseEnterField', {
                                    field: t('updatePassword.labels.newPassword')
                                })
                            }}</span
                        >
                        <span
                            class="d-block"
                            *ngIf="form.controls['newPassword'].errors?.['pattern'] && !form.controls['newPassword'].errors?.['required'] &&
                                                form.controls['newPassword'].dirty
                                            "
                            >{{ t('updatePassword.labels.txtErrorPwLength') }}</span
                        >
                        <span
                            class="d-block"
                            *ngIf="form.controls['newPassword'].errors?.['sameAsOldPassword'] && !form.controls['newPassword'].errors?.['pattern'] &&

                                                form.controls['newPassword'].dirty
                                            "
                            >{{ t('updatePassword.labels.txtSameAsOldPassword') }}</span
                        >
                        <span
                            class="d-block"
                            *ngIf="
                                form.controls['newPassword'].errors?.['maxlength'] &&
                                form.controls['newPassword'].dirty
                            ">
                            {{ t('global.txtPasswordTooLong') }}
                        </span>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="confirmPassword" class="form-label">
                        {{ t('updatePassword.txtConfirmPassword') }} <span class="text-danger">*</span>
                    </label>
                    <p-password
                        formControlName="confirmPassword"
                        [feedback]="false"
                        [toggleMask]="true"
                        [pKeyFilter]="blockSpace"
                        class="cursor-pointer"></p-password>
                    <div class="text-danger validation-text">
                        <span
                            class="d-block"
                            *ngIf="form.controls['confirmPassword'].errors?.['required'] && !form.controls['confirmPassword'].errors?.['passwordMismatch'] &&
                                            form.controls['confirmPassword'].dirty
                                        "
                            >{{ t('updatePassword.labels.confirmPassword') }}</span
                        >
                        <span
                            class="d-block"
                            *ngIf="form.controls['confirmPassword'].errors?.['passwordMismatch'] &&
                form.controls['confirmPassword'].dirty ">
                            {{ t('updatePassword.labels.confirmPasswordMismatch') }}
                        </span>
                        <span
                            class="d-block"
                            *ngIf="form.controls['confirmPassword'].errors?.['pattern'] && !form.controls['confirmPassword'].errors?.['passwordMismatch'] &&
                                            form.controls['confirmPassword'].dirty
                                        "
                            >{{ t('global.txtInvalidDataError') }}</span
                        >
                        <span
                            class="d-block"
                            *ngIf="
                                form.controls['confirmPassword'].errors?.['maxlength'] &&
                                form.controls['confirmPassword'].dirty
                            ">
                            {{ t('global.txtPasswordTooLong') }}
                        </span>
                    </div>
                </div>
                <div class="d-flex gap-3">
                    <button
                        pButton
                        type="button"
                        routerLink="/profile"
                        [attr.aria-label]="t('global.txtCancel')"
                        [label]="t('global.txtCancel')"
                        [disabled]="requestInProgress"
                        class="p-button p-button-danger p-button-sm"></button>
                    <button
                        pButton
                        type="submit"
                        [attr.aria-label]="t('global.txtSave')"
                        [label]="t('global.txtSave')"
                        [disabled]="requestInProgress"
                        class="p-button p-button-sm"></button>
                </div>
            </form>
        </div>
    </p-card>
    <p-toast position="bottom-right"></p-toast>
</section>
