<section class="h-100" *transloco="let t">
    <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
    <div>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="text-text-default">
                {{ t('modules.administrators.register.offices') }}
            </h4>
            <p-button
                (onClick)="add()"
                styleClass="p-button-success"
                [label]="t('global.txtAdd')"
                icon="pi pi-plus"></p-button>
        </div>
        <p-card>
            <p-table
                [value]="offices || []"
                [tableStyle]="{ 'min-width': '100%' }"
                [rowHover]="true"
                [rowSelectable]="false">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name" class="text-nowrap">
                            {{ t('modules.administrators.register.officeName') }}
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="location" class="text-nowrap">
                            {{ t('modules.administrators.register.officeAddress') }}
                            <p-sortIcon field="location"></p-sortIcon>
                        </th>
                        <th class="text-nowrap">
                            {{ t('modules.administrators.register.officeCoordinates') }}
                        </th>
                        <th class="text-nowrap">
                            {{ t('modules.administrators.register.officeGeneralInformation') }}
                        </th>
                        <th class="text-nowrap">
                            {{ t('modules.administrators.register.workingHours') }}
                        </th>
                        <th pSortableColumn="contact" class="text-nowrap">
                            {{ t('modules.administrators.register.contact') }}
                            <p-sortIcon field="contact"></p-sortIcon>
                        </th>
                        <th pSortableColumn="email" class="text-nowrap">
                            {{ t('modules.administrators.register.email') }}
                            <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th class="text-nowrap"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-office let-rowIndex="rowIndex">
                    <tr>
                        <td style="max-width: 18rem" [attr.aria-label]="office.name" [title]="office.name">
                            <span class="multiline-ellipsis">{{ office.name }}</span>
                        </td>
                        <td style="max-width: 18rem" [attr.aria-label]="office.location" [title]="office.location">
                            <span class="multiline-ellipsis">{{ office.location }}</span>
                        </td>
                        <td style="max-width: 18rem" [attr.aria-label]="office.longitude" [title]="office.longitude">
                            <span class="multiline-ellipsis">{{ office.longitude }} {{ office.latitude }}</span>
                        </td>
                        <td
                            style="max-width: 18rem"
                            [attr.aria-label]="office.description"
                            [title]="office.description">
                            <span class="multiline-ellipsis">{{ office.description }}</span>
                        </td>
                        <td
                            style="max-width: 18rem"
                            [attr.aria-label]="office.workingHours"
                            [title]="office.workingHours">
                            <span class="multiline-ellipsis">{{ office.workingHours }}</span>
                        </td>
                        <td style="max-width: 18rem" [attr.aria-label]="office.contact" [title]="office.contact">
                            <span class="multiline-ellipsis">{{ office.contact }}</span>
                        </td>
                        <td style="max-width: 18rem" [attr.aria-label]="office.email" [title]="office.email">
                            <span class="multiline-ellipsis">{{ office.email }}</span>
                        </td>
                        <td>
                            <p-button
                                [title]="t('global.txtEdit')"
                                styleClass="p-button-sm p-button-text"
                                (click)="edit(office)">
                                <i class="material-icons-outlined">&#xe3c9;</i>
                            </p-button>
                            <p-button
                                [title]="t('global.txtDelete')"
                                styleClass="p-button-sm p-button-text"
                                (click)="remove(office)">
                                <i class="material-icons-outlined">&#xe872;</i>
                            </p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">
                            <span
                                class="d-flex align-items-center flex-column empty-message-container bg-background-light-grey">
                                <img src="/assets/images/noresults.png" [alt]="t('aria.txtLogo')" />
                                <span class="text-text-light" [attr.aria-label]="t('global.txtNoData')">
                                    {{ t('global.txtNoData') }}
                                </span>
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
    <p-dialog
        header="Header"
        [(visible)]="showDialog"
        [style]="{ width: '50vw', maxWidth: '960px' }"
        [draggable]="false"
        [resizable]="false"
        [modal]="true">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold text-uppercase">
                {{
                    action === 'Add'
                        ? t('modules.general-information.txtAddOfficeBtn')
                        : t('modules.administrators.administrator-preview.editOfficeData')
                }}
            </span>
        </ng-template>
        <form [formGroup]="officeForm" (ngSubmit)="onSubmit()">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                    <div class="row mb-2">
                        <div class="col">
                            <label for="name" class="form-label"
                                >{{ t('modules.administrators.register.officeName') }}
                            </label>
                            <span class="text-danger">*</span>
                            <input pInputText id="name" type="text" class="w-100" formControlName="name" />
                            <app-error-field
                                [formControlInstance]="officeForm.controls.name"
                                translationPrefix="modules.administrators.register.errors" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <label for="location" class="form-label">
                                {{ t('modules.administrators.register.officeAddress') }}
                                <span class="text-danger">*</span>
                            </label>
                            <input pInputText id="location" type="text" class="w-100" formControlName="location" />
                        </div>
                        <app-error-field
                            [formControlInstance]="officeForm.controls.location"
                            translationPrefix="modules.administrators.register.errors" />
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <label for="region" class="form-label">
                                {{ t('modules.administrators.register.region') }}
                                <span class="text-danger">*</span>
                            </label>
                            <p-dropdown
                                formControlName="region"
                                [options]="regions"
                                optionLabel="name"
                                optionValue="value"
                                styleClass="w-100"
                                [placeholder]="t('global.txtDropdownPlaceholder')"
                                inputId="region">
                            </p-dropdown>
                        </div>
                        <app-error-field
                            [formControlInstance]="officeForm.controls.region"
                            translationPrefix="modules.administrators.register.errors" />
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <label for="longitude" class="form-label">
                                {{ t('modules.administrators.register.longitude') }}
                                <span class="text-danger">*</span>
                            </label>
                            <p-inputNumber
                                id="longitude"
                                class="d-flex flex-column"
                                formControlName="longitude"
                                [maxFractionDigits]="6"
                                [min]="22.22"
                                [max]="28.36" />
                        </div>
                        <app-error-field
                            [formControlInstance]="officeForm.controls.longitude"
                            translationPrefix="modules.administrators.register.errors" />
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <label for="latitude" class="form-label">
                                {{ t('modules.administrators.register.latitude') }}
                                <span class="text-danger">*</span>
                            </label>
                            <p-inputNumber
                                id="latitude"
                                class="d-flex flex-column"
                                formControlName="latitude"
                                [maxFractionDigits]="6"
                                [min]="41.15"
                                [max]="44.12" />
                        </div>
                        <app-error-field
                            [formControlInstance]="officeForm.controls.latitude"
                            translationPrefix="modules.administrators.register.errors" />
                    </div>
                </div>
                <div class="col">
                    <div class="row mb-2">
                        <div class="col">
                            <label for="workingHours" class="form-label">
                                {{ t('modules.administrators.register.workingHours') }}
                                <span class="text-danger">*</span>
                            </label>
                            <textarea
                                id="workingHours"
                                class="w-100 p-2"
                                rows="1"
                                pInputTextarea
                                formControlName="workingHours"></textarea>
                        </div>
                        <app-error-field
                            [formControlInstance]="officeForm.controls.workingHours"
                            translationPrefix="modules.administrators.register.errors" />
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <label for="latitude" class="form-label">
                                {{ t('modules.administrators.register.contact') }}
                                <span class="text-danger">*</span>
                            </label>
                            <input
                                pInputText
                                appDigitOnly
                                appPrefixPhoneInput
                                id="contact"
                                type="text"
                                class="w-100"
                                formControlName="contact" />
                        </div>
                        <app-error-field
                            [formControlInstance]="officeForm.controls.contact"
                            translationPrefix="modules.administrators.register.errors" />
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <label for="email" class="form-label">
                                {{ t('modules.administrators.register.email') }}
                                <span class="text-danger">*</span>
                            </label>
                            <input pInputText id="email" type="text" class="w-100" formControlName="email" />
                        </div>
                        <app-error-field
                            [formControlInstance]="officeForm.controls.email"
                            translationPrefix="modules.administrators.register.errors" />
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="description" class="form-label">
                                {{ t('modules.administrators.register.officeGeneralInformation') }}
                                <span class="text-danger">*</span>
                            </label>
                            <textarea
                                id="description"
                                class="w-100 p-2"
                                rows="5"
                                pInputTextarea
                                formControlName="description"></textarea>
                        </div>
                        <app-error-field
                            [formControlInstance]="officeForm.controls.description"
                            translationPrefix="modules.administrators.register.errors" />
                    </div>
                </div>
            </div>

            <p-divider type="solid"></p-divider>
            <div class="d-flex gap-3 justify-content-center" *transloco="let tGlobal">
                <button
                    pButton
                    type="button"
                    (click)="onClosePreview()"
                    class="p-button p-button-danger"
                    [disabled]="editOfficeQuery.isLoading || addOfficeQuery.isLoading">
                    {{ tGlobal('global.txtClose') }}
                </button>
                <button
                    pButton
                    [label]="tGlobal('global.txtSubmit')"
                    [loading]="editOfficeQuery.isLoading || addOfficeQuery.isLoading"
                    type="submit"
                    class="p-button me-3 p-button-primary"></button>
            </div>
        </form>
    </p-dialog>
</section>
